.Detailcontainer{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    
    .left{ 
        width: 60%;
        .upleft{
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            .d-flex{
                justify-content: space-between;
                .ptp0992{
                    font-size: 19px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }
                .icon{
                    color: red;
                    font-size: 25px;
                    cursor: pointer;
                    transition: transform 0.1s ease, color 0.1s ease;

                }
                .icon:hover{
                    color: darkred;
                    transform: scale(1.05);
                    animation: shake 1s infinite;
                }
                @keyframes shake {
                    0% { transform: translateX(0); }
                    25% { transform: translateX(-4px) rotate(-10deg); }
                    50% { transform: translateX(4px) rotate(10deg); }
                    75% { transform: translateX(-4px) rotate(-10deg); }
                    100% { transform: translateX(0); }
                }
            }
          
            .lb776s{
                width: 100%;
                font-weight: 500;
                font-size: 16px;
            }
            .ipn77s{
                width: 100%;
                height: 50px;
                border-radius: 10px;
                padding: 5px;
                outline: none;
                background-color: rgb(239, 239, 239);
                margin-bottom: 20px;
                border: 1px solid rgb(142, 142, 142);
            }
            .pty765{
                width: 100%;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 2px;
            }
            .txa8837j{
                width: 100%;
                min-height: 150px;
                outline: none;
                padding: 5px;
                max-height: 150px;
                border-radius: 10px;
                background-color: rgb(239, 239, 239);
            }
            .div99as{
                .divLas78{
                    padding-top: 10px;
                    margin-top: 10px;
                    width: 58%;
                    line-height: 0.5;
                    .pmt882{
                        width: 100%;
                        font-weight: 500;
                        font-size: 16px;
                    }
                    .pmtT76s{
                        font-size: 14px;
                        color: rgb(89, 89, 89);
                       
                       
                    }
                    .intbr772{
                        width: 94%;
                        border-radius: 10px;
                        outline: none;
                        border: 1px solid rgb(142, 142, 142);
                        background-color: rgb(239, 239, 239);
                        height: 60px;
                    }
                }
                .divI77a{
                    padding-top: 10px;
                    margin-left: 10px;
                    margin-top: 10px;
                    width: 49%;
                    line-height: 0.5;
                    .pbrO8as{
                        width: 100%;
                        font-weight: 500;
                        font-size: 16px;
                    }
                    .pbrU761{
                        font-size: 14px;
                        color: rgb(89, 89, 89);
                    }
                    .inp8sww{
                        width: 100%;
                        border-radius: 10px;
                        outline: none;
                        border: 1px solid rgb(142, 142, 142);
                        background-color: rgb(239, 239, 239);
                        height: 60px;
                    }
                }
            }
        }
        .downleft{
            margin-top: 15px;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            height: 235px;
            .divU88s{
                .p98ss{
                    font-size: 19px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }
                .divY67{
                    width: 100%;
                    .p882s{
                        width: 50%;
                        .Po99s{

                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 500;
                            }
                            input{
                                border-radius: 5px;
                                border: 1px solid rgb(142, 142, 142);
                                background-color: rgb(239, 239, 239);
                                height: 45px;
                                width: 100%;
                            }
                        }
                        .p6NS8{
                            margin-top: 10px;
                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 500;
                            }
                            input{
                                
                                border-radius: 5px;
                                border: 1px solid rgb(142, 142, 142);
                                background-color: rgb(239, 239, 239);
                                height: 45px;
                                width: 100%;
                            }
                        }
                    }
                    .p9snn{
                        width: 45%;
                        margin-left: 4.5%;
                        .pt5as{
                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 500;
                            }
                            input{
                                border-radius: 5px;
                                border: 1px solid rgb(142, 142, 142);
                                background-color: rgb(239, 239, 239);
                                height: 45px;
                                width: 100%;
                            }
                        }
                        .pM9si{
                            margin-top: 10px;
                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 500;
                            }
                            input{
                                
                                border-radius: 5px;
                                border: 1px solid rgb(142, 142, 142);
                                background-color: rgb(239, 239, 239);
                                height: 45px;
                                width: 100%;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .right{
        width: 40%;
        margin-left: 10px;
        .upright{
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            height: 60%;

                .pK982s{
                    font-size: 19px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }
                .coas{
                    cursor: pointer;
                    transition: transform 0.2s ease;
                }
                .coas:hover{
                    transform: scale(1.05)

                }
              

            .uploadImg{
                user-select: none;
                .Upload9sa{
                    border: 2px dashed rgb(142, 142, 142);
                    background-color: rgb(239, 239, 239);
                    width: 70%;
                    height: 22rem;
                    border-radius: 10px;
                    transition: transform 0.1s ease;
                    text-align: center;

                    .ic9jjs{
                        margin-top: 50%;
                        font-size: 40px;
                    }

                }
                .Upload9sa:hover{
                    transform: scale(1.015);
                }
                .UploadO9ss{
                    padding-left: 20px;
                    .addAnother{
                        text-align: center;
                        padding-top: 20%;
                        transition: transform 0.1s ease;
                        font-size: 25px;
                        border-radius: 10px;
                        border: 2px dashed rgb(142, 142, 142);
                        background-color: rgb(239, 239, 239);
                        width: 6rem;
                        height: 5rem;
                    }
                    .addAnother:hover{
                        transform: scale(1.015);
                       
                    }
                    .AnotherIMG{
                        margin-top: 5px;
                        user-select: none;
                        overflow-y: scroll; 
                        scrollbar-width: none; 
                        -ms-overflow-style: none;
                        max-height: 265px;
                        .card{
                            margin-bottom: 5px;
                            border-radius: 10px;
                            width: 6rem;
                            height: 6rem;
                        }
                    }
                }
            }
        }
        .downright{
            border-radius: 10px;
            user-select: none;
            height: 37.8%;
            background-color: white;
            .drdiv90as{
                margin-top: 15px;
                padding: 10px;
                .divMlas{
                    margin-left: 32%;
                    border: 1px solid rgb(142, 142, 142);
                    background-color: rgb(239, 239, 239);
                    padding: 5px;
                    border-radius: 10px;
                    .ico99s{
                        font-size: 25px;
                        padding-top: 9px;
                        padding-right: 10px;
                    }
                    input{
                        border: 1px solid rgb(239, 239, 239);
                        background-color: rgb(239, 239, 239);
                        outline: none;
                    }
                }
                .pdr9ns{
                    font-size: 19px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }
                label{
                    width: 100%;
                    font-size: 16px;
                    font-weight: 500;
                }
                .drdiv55s {
                    position: relative;
                    user-select: none;
                    display: flex;
                    min-height: 125px;
                    max-height: 125px;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    .cardItem{
                        cursor: pointer;
                        background-color: rgb(222, 222, 222);
                        margin-right: 10px;
                        border-radius: 5px;
                        height: 40px;
                        margin-top: 5px;
                        padding: 3px 5px;
                        transition: transform 0.2s ease, background-color 0.2s ease;
                        .item{
                         
                            margin-top: 2px;
                        }
                    }
                    .cardItem:hover{
                        transform: scale(1.02);
                        background-color: rgb(165, 165, 165);
                    }   
                    .cardItemActive{
                        cursor: pointer;
                        background-color: rgb(215, 107, 0);
                        margin-right: 10px;
                        border-radius: 5px;
                        height: 40px;
                        margin-top: 5px;
                        padding: 3px 5px;
                        transition: transform 0.2s ease, background-color 0.2s ease;
                        .item{
                            margin-top: 2px;
                            color: white;
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                    .cardItemActive:hover{
                        transform: scale(1.02);
                        background-color: rgb(255, 76, 76);
                    }
                }            
            }
        }
    }

}