.Admin{
    background-color: #F0F5F9;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    margin: 0px;
    position: relative; 
    .container{
        max-width: 120% !important;
        padding-top: 1.5%;
        .content-center{
            margin-left: 24%;
            width: 80%;
            .header{
                position: fixed;
                z-index: 1000;
                width: 74%;
                height: 70px;
                border-radius: 25px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 
                -3px -3px 5px rgba(255, 255, 255, 0.5);
                background-color: #FFFFFF;
                justify-content: space-between;
                .alert{
                    position: relative;
                    .Noice{
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        font-size: 8px;
                        color: rgb(255, 255, 255);
                        font-weight: 700;
                        padding: 1px;
                        padding-top: 1.2px;
                        width: 15px;
                        height: 15px;
                        text-align: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: red;
                       
                       
                    }
                  
                    .NoiceDetail{
                        display: none;
                        position: absolute;
                        width: 200px;
                        left: -25px;
                        border-radius: 10px;
                        text-align: center;
                        padding-top: 2px;
                        font-size: 12px;
                        align-items: center;
                        height: 25px;
                        opacity: 0;
                        color: white;
                        background-color: rgb(60, 60, 60);
                    }

                    .ic5{
                        padding-left: 40px;
                        font-size: 28px;
                        transform-origin: top center; 
                    }

                    .ic5Noice{
                        padding-left: 40px;
                        font-size: 28px;
                        animation: bell-shake ease-in-out 1s infinite;
                        transform-origin: top center; 
                    }
                    
                    @keyframes bell-shake {
                        0% { transform: rotate(0); }
                        15% { transform: rotate(-5deg); }
                        30% { transform: rotate(5deg); }
                        45% { transform: rotate(-5deg); }
                        60% { transform: rotate(6deg); }
                        75% { transform: rotate(-4deg); }
                        100% { transform: rotate(0); }
                      }

                    &:hover{
                        .NoiceDetail{
                            display: block;
                            opacity: 1;
                        }
                    }
                }
                .adminAC{
                    margin-top: 15px;
                    justify-content: center;
                    height: 45px;
                    padding-right: 50px;
                    justify-content: space-between;
                    width: 21%;
                    .p9{
                        padding-top: 4%;
                        font-weight: 550;
                    }
                    .adminAvatar{
                        background-color: rgb(104, 104, 199);
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding-top: 4%;
                        border-radius: 50%;
                        .ic6{
                            font-size: 20px;
                            color: #FFFFFF;
                        }
                    }
                    
                }
            }
            .contents{
                max-height: 100%;
            }
        }
    }
}