.CategoryProduct {
  background: linear-gradient(to bottom, rgb(255, 205, 213), white);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -3px -3px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  padding: 1%;
  .header-title {
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    height: 60px;
    border: 2px solid pink;
    p {
      background: linear-gradient(to bottom, rgb(255, 205, 213), white);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
        -3px -3px 5px rgba(255, 255, 255, 0.5);
      height: 40px;
      padding: 4px;
      border-radius: 10px;
      margin-right: 20px;
    }
    .iconPr {
      box-shadow: 2px 2px 5px rgba(216, 31, 31, 0.708),
        -3px -3px 5px rgba(87, 57, 57, 0.263);
      color: red;
      height: 40px;
      padding: 4px;
      border-radius: 10px;
      width: 30px;
      font-size: 20px;
      margin-right: 20px;
      cursor: pointer;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .contents-body {
    padding: 10px;
    display: flex;
    width: 100%;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    border: 2px solid pink;
    margin-top: 10px;
    .contents {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      gap: 10px;
    }
  }
}
