
.ForgotPassword-container{
    padding: 10px;
    .ForgotHeader{
        .pgHead{
            text-align: center;
            justify-content: center;
            p{
                font-size: 20px;
                font-weight: 600;
            }
        }
        .stateLine{
            gap: 5px;
            user-select: none;
            .LineOff{
                background-color: rgb(228, 228, 228);
                height: 20px;
                width: 33%;
                border-radius: 5px;
                text-align: center;
                padding-bottom: 2px;
                p{
                    font-size: 12px;
                    font-weight: 500;
                    
                }
            }
            .LineOn{
                background-color: rgb(33, 167, 0);
                height: 20px;
                width: 33%;
                border-radius: 5px;
                text-align: center;
                padding-bottom: 2px;

            }

            .LineActive{
                background-color: rgb(255, 212, 212);
                height: 20px;
                width: 33%;
                border-radius: 5px;
                text-align: center;
                padding-bottom: 2px;
                p{
                    font-size: 12px;
                    font-weight: 500;
                    
                }
            }
        }
    }

    .State1{
        padding: 10px;
        padding-top: 20px;
        .Header{
            text-align: center;
            font-size: 17px;
            color: rgb(70, 70, 70);
            font-weight: 600;
        }
        .EmailInput{
            margin-top: 6%;
            margin-left: 8%;
            label{
                font-size: 17px;
                font-weight: 600;
            }
            input{
                width: 70%;
                border-radius: 5px;
                padding: 5px;
                margin-left: 2%;
            }
        }
        .HaveOTP{
            cursor: pointer;
            user-select: none;
            color: blue;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            justify-content: center;
            margin-left: 13%;
            padding-top: 8%;
            transition: transform 0.1s ease, font-weight 0.1s ease;
        }
        .HaveOTP:hover{
            transform: scale(1.08);
            font-weight: 600;
        }
        .btn-on{
            margin-left: 41%;
            background-color: rgb(0, 128, 0);
            text-align: center;
            height: 40px;
            margin-top: 20px;
            color: white;
            font-weight: 500;
        }
        .btn-load{
            margin-left: 37%;
            background-color: rgb(114, 114, 114);
            text-align: center;
            height: 40px;
            margin-top: 20px;
            color: white;
            font-weight: 500;
        }
    }
    .State2{
        padding: 10px;
        padding-top: 20px;
        .Header{
            text-align: center;
            font-size: 17px;
            color: rgb(70, 70, 70);
            font-weight: 600;
        }
        .OTPInput{
            margin-top: 10%;
            margin-left: 8%;
            label{
                font-size: 17px;
                font-weight: 600;
            }
            input{
                width: 70%;
                border-radius: 5px;
                padding: 5px;
                margin-left: 2%;
            }
        }
        .PrevStep{
            cursor: pointer;
            user-select: none;
            color: blue;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            justify-content: center;
            margin-left: 3%;
            padding-top: 8%;
            transition: transform 0.1s ease, font-weight 0.1s ease;
        }
        .PrevStep:hover{
            transform: scale(1.08);
            font-weight: 600;
        }
        .btn-on{
            margin-left: 20%;
            background-color: rgb(0, 128, 0);
            text-align: center;
            height: 40px;
            margin-top: 20px;
            color: white;
            font-weight: 500;
        }
        .btn-load{
            margin-left: 18%;
            background-color: rgb(114, 114, 114);
            text-align: center;
            height: 40px;
            margin-top: 20px;
            color: white;
            font-weight: 500;
        }
    }
    .State3{
        padding: 10px;
        padding-top: 20px;
        margin-right: 30px;
        .Header{
            text-align: center;
            font-size: 17px;
            color: rgb(70, 70, 70);
            font-weight: 600;
        }
        .NewPassInput{
            margin-top: 5%;
            text-align: center;
            label{
                font-size: 17px;
                width: 100%;
                font-weight: 600;
            }
            input{
                text-align: center;
                width: 70%;
                border-radius: 5px;
                padding: 5px;
            }
        }

        .btn-on{
            margin-left: 40.5%;
            background-color: rgb(0, 128, 0);
            text-align: center;
            height: 40px;
            margin-top: 10px;
            color: white;
            font-weight: 500;
        }
        .btn-load{
            margin-left: 38.5%;
            background-color: rgb(114, 114, 114);
            text-align: center;
            height: 40px;
            margin-top: 10px;
            color: white;
            font-weight: 500;
        }
    }
}